.content{
    height:530px;
}

.bottom-wrap{
    height:60px;
    text-align: center;
    font-size:20px;
    padding:5px 0;
}
.item{
    width:80%;
    margin:25px auto;
    
}
.item img{
    width:320px;
    height:480px;
    display: block;
    margin: 0 auto;
    border:1px solid #e6e6e6;
    border-radius: 10px;
}
.des{
    height:60px;
    text-align: center;
    font-size:25px;
    padding:5px 0;
}
  