.topWrap{
    
}
.interaction{
    height:650px;
}
.interact_left{
    background: #fff;
    /* border-right:1px solid #e6e6e6; */
    height:640px;
}
.interact_right{
    height:650px;
}
.btn-wrap{
    height:50px;
    width:70px;
    margin:0 auto;
}
.vote-content{
    height:550px;
    width:100%;
    overflow-y: auto;
    
}
.vote-content .list{
    width:500px;
    margin:0 auto;
}
.list span {
    margin-left:10px;
    font-size: 25px;
    /* height:40px; */
    /* line-height: 40px; */
    /* display: inline-block; */
}


.right .image-wrap{
    height:300px;
}
.image-wrap .image-content{
    width:300px;
    height:300px;
    border:1px solid #e6e6e6;
    border-radius: 5px;
    margin: 38px auto;
}
.winner-wrap{
    width:90%;
    padding:15px;
}
.nickname{
    display: inline-block;
    width:200px;
}