.step{
    margin: 0 auto;
    font-size: 25px;
    width:80%;
    height:auto;
}
.stepWrap{
    padding-bottom:10px;
}
.step-title{
    text-align: center;
}
.title{
    text-indent: 2em; 
}
.desStep{
    word-break: break-all;
    text-indent: 2em;
    padding:10px;
    line-height:50px;
}
.redColor{
    color:red;
}
.left{
   width:240px;
   height:auto !important;
    display: inline-block;
}
.right{
    width:calc(100%-240px);
    height:auto !important;
    padding-left:30px;
    display: inline-block;
    vertical-align: top;
}
.right p:first{
    font-weight: 100;
    color:black;
}
.right p{
    line-height: 30px;
}


.item_wrap{
    width:100%;
    height:506px;
}
.item_wrap .content_left{
    width:900px;
    height:506px;
    /* display:inline-block; */
    
     float:left;
}
.item_wrap .content_right{
    width:calc(100% - 920px);
    /* width:200px; */
    height:506px;
    /* display:inline-block; */
    float:left;
}
